<% provide(:title, 'About') %>

<div class="about">
<h1>Notebook</h1>
<p>Notebook is a blog application with full CRUD (Create, Read, Update, Destroy) built in Ruby on Rails. I used the paperclip gem to add photos to user profiles and photos are stored to Amazon S3. Users can browse through their blog posts, create, update and delete their blog posts. The app is hosted on heroku. View the source on <a href="https://github.com/iamsydsmith/blog-manager" target="_blank">github</a>.</p>
<h4>Technologies include:</h4>
<ul>
  <li><a href="https://www.ruby-lang.org/">Ruby 2.2</a></li>
  <li><a href="http://rubyonrails.org/">Rails 4.2</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
  <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
  <li><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>
</ul>
</div>

